<h2 class="text-center">All Orders</h2>
<div class="container">
  <% @orders.each do |order| %>
    <div class="card m-2">
      <p class="me-2 ms-2 mt-2">
        <span class="fw-bold">Order ID:</span> <span><%= order.id %></span>
        <span class="float-end">
          <span class="fw-bold">Order Date:</span>
          <span><%= date_format(order) %></span>
        </span>
      </p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
          </tr>
        </thead>
        <tbody>
        <% order.cart_items.each do |item| %>
          <tr>
            <td><%= item.product.name %></td>
            <td>Rs. <%= item.product.price %></td>
            <td>
              <%= item.quantity %>
            </td>
            <td>Rs. <%= item.total_price %></td>
          </tr>
        <% end %>
        <tr class="fw-bold">
          <td colspan="3">Total Price</td>
          <td>Rs. <%= order.total_price %></td>
        </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
