<div class="container">
  <h2 class="text-center">Cart</h2>
  <% if @cart.cart_items.present? %>
    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      <% @cart.cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.product.name %></td>
          <td>Rs. <%= cart_item.product.price %></td>
          <td>
            <%= link_to "-", cart_item_reduce_path(id: cart_item), method: :post, class: 'btn btn-primary btn-sm' %>
            <%= cart_item.quantity %>
            <%= link_to "+", cart_item_add_path(id: cart_item), method: :post, class: 'btn btn-primary btn-sm' %>
          </td>
          <td>Rs. <%= cart_item.total_price %></td>
          <td>
            <%= link_to "Remove", cart_item_path(cart_item), method: :delete, class: 'text-danger' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <h4>Sub total: Rs. <%= @cart.sub_total %></h4>
    <div>
      <%= link_to "Empty cart", cart_path(@current_cart),method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %>
      <%= form_with(model: Order.new, url: orders_path, method: :post) do |form| %>
        <%= form.hidden_field :total_price, value: @cart.sub_total %>
        <%= form.hidden_field :status, value: 'ordered' %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.submit "Proceed to checkout", class: 'btn btn-primary float-end' %>
      <% end %>
    </div>
  <% else %>
    <div class="text-center">
      <h3>Your Cart is empty.</h3>
      <%= link_to "Go to the products", root_path %>
    </div>
  <% end %>
</div>
